<!DOCTYPE html>
<html>
  <head>
    <title>Litflix</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.background = "<%= image_url('logo-developmentversion.png') %>";
      window.phone = "<%= image_url('netflix-mobile.png') %>";
      window.downloadSpinner = "<%= image_url('netflix-download-spinner.gif') %>";
      window.netflixCover = "<%= image_url('ST-Final-Cover.png') %>";
      window.searchIcon = "<%= image_url('search-icon.png') %>"
      window.whiteBellIcon = "<%= image_url('white-bell-icon.png') %>"
      window.profilePic = "<%= image_url('profile-pic.png') %>"
      window.bendyLogo = "<%= image_url('litflix-logo-bend.png') %>"
      window.backWhiteArrow = "<%= image_url('back-white-arrow.png') %>"
      window.netflixTVImg = "<%= image_url('netflix-tv-img.png') %>"
      window.netflixMonitorImg = "<%= image_url('netflix-monitor-img.png') %>"
      window.facebookSignin = "<%= image_url('facebook-signin-img.png') %>"
    </script>
    <%= favicon_link_tag asset_path('L.png') %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
